<div class="main-header">
  <h1> The following members share <%= @member.name %>'s interest in <%= @topic %> </h1>
</div>
<% if @possible_friends.empty? %>
  No members found. Try another topic.
<% else %>
  <% @possible_friends.each do |friend| %>
    <div class="section">
      <h3> <%= friend.name %> </h3>
      The following path connects <%= @member.name %> to <%= friend.name %>
      <ul>
        <% FriendConnectionsService.new.find_pathway(@possible_friends, @member, friend).each do |connection| %>
          <li> <%= connection.name %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
